<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Log Files"
            id="org.graysky.eclipse.logwatcher">
      </category>
      <view
            name="LogWatcher"
            icon="icons/lw_icon.gif"
            category="org.graysky.eclipse.logwatcher"
            class="org.graysky.eclipse.logwatcher.views.LogWatcherView"
            id="org.graysky.eclipse.logwatcher.views.LogWatcherView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="LogWatcher"
            class="org.graysky.eclipse.logwatcher.preferences.PrefsPage"
            id="org.graysky.eclipse.logwatcher.preferences.PrefsPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.graysky.eclipse.logwatcher.views.LogWatcherView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="book.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_LogWatcher.xml">
      </toc>
   </extension>

</plugin>
