<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.graysky.eclipse.logwatcher"
   name="LogWatcher"
   version="1.1.0"
   provider-name="Graysky.org"
   class="org.graysky.eclipse.logwatcher.LogwatcherPlugin">

   <runtime>
      <library name="logwatcher.jar"/>
      <library name="lib/jakarta-oro-2.0.6.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <category
            name="Log Files"
            id="org.graysky.eclipse.logwatcher">
      </category>
      <view
            name="LogWatcher"
            icon="icons/sample.gif"
            category="org.graysky.eclipse.logwatcher"
            class="org.graysky.eclipse.logwatcher.views.LogWatcherView"
            id="org.graysky.eclipse.logwatcher.views.LogWatcherView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.graysky.eclipse.logwatcher.views.LogWatcherView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
